# Git mailmap - ensures consistent contributor names
Crisvin Habitusela <crisvin.habitsuela@sorsu.edu.ph> <crisvin@eguidance.com>
Crisvin Habitusela <crisvin.habitsuela@sorsu.edu.ph> crisvin03 <crisvin.habitsuela@sorsu.edu.ph>
